.card{
    background-color:#ffc07f;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 7.5px;
    border: none;
}
.buttonstyle input[type="submit"]{
    background: #894350;
    color: white;
    font-weight: bold;
    font-size: large;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    padding: 5px 10px;
    text-align: center;
    letter-spacing: 1px;
}
.buttonstyle input[type="submit"]:hover{
    background: #975b66;
}

.table,th{
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    background-color: #ffffff;
}
.td{
    background-color: #ffffff;
}
#mainTitle{
    font-weight: bolder;
}