#logincard{
    padding-top:12%;
    padding-left: 25%;
}
#heading{
    padding-left: 27%;
    font-weight: bolder;
}
#cb{
    text-align: center;
}
#tbl{
    padding-left: 25%;
}
body{
    background-color: #ffcaaf;
}
.card{
    background-color: #894350;
}
.button{
    padding-top: 5%;
}

