#logincard{
    padding-top:12%;
    padding-left: 25%;
}
#heading{
    padding-left: 30%;
    font-size:larger ;
    font-weight: bolder;
}
#cb{
    text-align: center;
}
#tbl{
    padding-left: 25%;
}