*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#mainTitle{
    font-weight: bolder;
}
/*LoginAs*/
#loginas a input{
    background: #894350;
    color: white;
    font-weight: bold;
    font-size: large;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    padding: 5px 10px;
    text-align: center;
    letter-spacing: 1px;
    transition: transform 0.3;
}
#loginas a input:hover{
    background: #975b66;
    transform: scale(1.08,1.15);
}
#heading{
    padding-top: 20px;
    /* padding-bottom: 15px; */
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: bolder;
}
section .card{
    margin-left: 15px;
    margin-right: 10px;
    border: 0;
}
section .card .card-body{
    position: relative;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
section .card .card-body a input[type="submit"]{
    width: 100%;
    text-align: center;
    padding: 5px 25px;
    font-size: 25px;
    letter-spacing: 1px;
    background: transparent;
    border-radius: 15px;
    background: #894350;
    color: white;
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
}
section .card .card-body a input[type="submit"]:hover{
    background: #975b66;
    transform: scale(1.08,1.15);
}
section .card img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}
section .heading h2{
    position: absolute;
    /* margin-left: 50%; */
    color: brown;
    align-items: center;
    font-weight: bolder;
    font-size: 1.7em;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*Login and Registration*/
section .imageBox{
    position: relative;
    width: 50%;
    height: 100%;
}
/* section .imageBox:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg,#894350, #8f3041);
    z-index: 1;
    mix-blend-mode: screen;
} */
section .imageBox img{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .contentBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
section .contentBox .formBox{
    width: 50%;
    color: #607d8b;
}
section .contentBox .formBox h2{
    color: brown;
    text-align: center;
    font-weight: bolder;
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 20px;
    /* border-bottom: 4px solid; */
    /* display: inline-block; */
    letter-spacing: 1px;
}
section .contentBox .formBox .inputBox{
    margin-bottom: 20px;
}
section .contentBox .formBox .inputBox span{
    font-size: 20px;
    margin-bottom: 5px;
    display: inline-block;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 1px;
}
section .contentBox .formBox .inputBox input{
    width: 100%;
    padding: 10px 15px;
    border: 1px solid;
    font-size: 20px;
    letter-spacing: 1px;
    background: transparent;
    border-radius: 20px;
}
section .contentBox .formBox .inputBox input[type="submit"]{
    background: #894350;
    color: white;
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 30px;
}
section .contentBox .formBox .inputBox input[type="submit"]:hover{
    background: #975b66;
}
section .contentBox .formBox .inputBox p{
    color: #607d8b;
}
section .contentBox .formBox .inputBox p a{
    color: rgb(45, 45, 221);
    ;
}

/*Technical Skills*/

div h2.heading{
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    color: brown;
}
.cardList{
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color:#ffc07f;
    position: relative;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 7.5px;
}
p.card-text{
    word-wrap: break-word;
}
.card-body-left{
    text-align: left;
    padding: 20px 20px;
}
.card-body-right{
    text-align: right;
    padding: 20px 20px;
}
.skillListButton input[type="submit"]{
    background: #894350;
    color: white;
    font-weight: bold;
    font-size: large;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px 10px;
    text-align: center;
    letter-spacing: 1px;
    transition: transform 0.3s;
}
.skillListButton input[type="submit"]:hover{
    background: #975b66;
    transform: scale(1.08,1.15);
}

/*Aptitude*/
#aptitudeImage{
    height: 35vw;
}

#verbalImage{
    height: 60vh;
}